# Assignment 4

Before working on this assignment please read these instructions fully. In the submission area, you will notice that you can click the link to **Preview the Grading** for each step of the assignment. This is the criteria that will be used for peer grading. Please familiarize yourself with the criteria before beginning the assignment.

This assignment requires that you to find **at least** two datasets on the web which are related, and that you visualize these datasets to answer a question with the broad topic of **weather phenomena** (see below) for the region of **San Nicolás de los Garza, Nuevo León, Mexico**, or **Mexico** more broadly.

You can merge these datasets with data from different regions if you like! For instance, you might want to compare **San Nicolás de los Garza, Nuevo León, Mexico** to Ann Arbor, USA. In that case at least one source file must be about **San Nicolás de los Garza, Nuevo León, Mexico**.

You are welcome to choose datasets at your discretion, but keep in mind **they will be shared with your peers**, so choose appropriate datasets. Sensitive, confidential, illicit, and proprietary materials are not good choices for datasets for this assignment. You are welcome to upload datasets of your own as well, and link to them using a third party repository such as github, bitbucket, pastebin, etc. Please be aware of the Coursera terms of service with respect to intellectual property.

Also, you are welcome to preserve data in its original language, but for the purposes of grading you should provide english translations. You are welcome to provide multiple visuals in different languages if you would like!

As this assignment is for the whole course, you must incorporate principles discussed in the first week, such as having as high data-ink ratio (Tufte) and aligning with Cairo’s principles of truth, beauty, function, and insight.

Here are the assignment instructions:

 * State the region and the domain category that your data sets are about (e.g., **San Nicolás de los Garza, Nuevo León, Mexico** and **weather phenomena**).
 * You must state a question about the domain category and region that you identified as being interesting.
 * You must provide at least two links to available datasets. These could be links to files such as CSV or Excel files, or links to websites which might have data in tabular form, such as Wikipedia pages.
 * You must upload an image which addresses the research question you stated. In addition to addressing the question, this visual should follow Cairo's principles of truthfulness, functionality, beauty, and insightfulness.
 * You must contribute a short (1-2 paragraph) written justification of how your visualization addresses your stated research question.

What do we mean by **weather phenomena**?  For this category you might want to consider seasonal changes, natural disasters, or historical trends.

## Tips
* Wikipedia is an excellent source of data, and I strongly encourage you to explore it for new data sources.
* Many governments run open data initiatives at the city, region, and country levels, and these are wonderful resources for localized data sources.
* Several international agencies, such as the [United Nations](http://data.un.org/), the [World Bank](http://data.worldbank.org/), the [Global Open Data Index](http://index.okfn.org/place/) are other great places to look for data.
* This assignment requires you to convert and clean datafiles. Check out the discussion forums for tips on how to do this from various sources, and share your successes with your fellow students!

## Example
Looking for an example? Here's what our course assistant put together for the **Ann Arbor, MI, USA** area using **sports and athletics** as the topic. [Example Solution File](./readonly/Assignment4_example.pdf)

,Year,Quarter ID,Quarter,Month ID,Month,Day,Time ID,Time,Nation ID,Nation,...,Municipality ID,Municipality,Accum Cases,Daily Cases,AVG 7 Days Accum Cases,AVG 7 Days Daily Cases,Rate Daily Cases,Rate Accum Cases,Days from 50 Cases,Style
0,2020,1,Q1,3,2020-03,15,20200315,2020-03-15,mex,México,...,19006,Apodaca,1,0,0.857143,0.142857,0.0,0.150210,0,solid
1,2020,1,Q1,3,2020-03,15,20200315,2020-03-15,mex,México,...,19021,General Escobedo,1,0,0.571429,0.142857,0.0,0.214443,0,solid
2,2020,1,Q1,3,2020-03,15,20200315,2020-03-15,mex,México,...,19026,Guadalupe,1,0,0.714286,0.142857,0.0,0.140763,0,solid
3,2020,1,Q1,3,2020-03,15,20200315,2020-03-15,mex,México,...,19039,Monterrey,5,0,2.142857,0.714286,0.0,0.444510,0,solid
4,2020,1,Q1,3,2020-03,15,20200315,2020-03-15,mex,México,...,19046,San Nicolás de los Garza,2,0,1.285714,0.285714,0.0,0.421796,0,solid

,Affected Legal Good ID,Affected Legal Good,Month ID,Month,Value,Value_,Time,date
0,1,Patrimonio,201501,2015-01,229,229,1422770400000,Ene-2015
1,1,Patrimonio,201502,2015-02,225,225,1425189600000,Feb-2015
2,1,Patrimonio,201503,2015-03,180,180,1427868000000,Mar-2015
3,1,Patrimonio,201504,2015-04,159,159,1430456400000,Abr-2015
4,1,Patrimonio,201505,2015-05,186,186,1433134800000,May-2015

In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib notebook

#The problem to be investigated is the correlation between monthly COVID-19 cases in San Nicolás de los Garza, Nuevo León, México
#and complaints according to affected legal goods in the city.

#csv for the covid cases
covid = pd.read_csv('Casos-positivos-diarios-en-San-Nicolas-de-los-Garza-Promedio-movil-de-7-dias.csv')

#csv for complaints
comp = pd.read_csv('Denuncias-segun-bien-afectado-en-San-Nicolas-de-los-GarzaClic-en-el-grafico-para-seleccionar.csv')

#cleaning data in both dataframes

#keeping only the relevant columns
covid = covid[['Month','Daily Cases']]
comp = comp[['Month','Affected Legal Good', 'Value']]

#changing the labels from spanish to english
comp['Affected Legal Good'].replace({'Patrimonio': 'Heritage', 'Familia':'Family', 'Libertad y Seguridad Sexual':'Sexual Freedom and Safety', 'Sociedad':'Society', 'Vida e Integridad Corporal':'Life and Bodily Integrity', 'Libertad Personal':'Personal Freedom', 'Otros Bienes Jurídicos Afectados (Del Fuero Común)':'Other Affected Legal Assets (Common Jurisdiction)'}, inplace=True, regex=True)
#changing the month types to dates
covid['Month'] = pd.to_datetime(covid['Month'])
covid['Month'] = covid['Month'].dt.to_period('M')

covid

       Month  Daily Cases
0    2020-03            0
1    2020-03            0
2    2020-03            0
3    2020-03            0
4    2020-03            0
5    2020-03            0
6    2020-03            0
7    2020-03            0
8    2020-03            2
9    2020-03            0
10   2020-03            1
11   2020-03            0
12   2020-03            3
13   2020-03            0
14   2020-03            0
15   2020-03            0
16   2020-03            1
17   2020-03            0
18   2020-03            2
19   2020-03            2
20   2020-03            0
21   2020-03            0
22   2020-03            0
23   2020-03            2
24   2020-03            0
25   2020-03            0
26   2020-03            0
27   2020-03            1
28   2020-03            3
29   2020-03            0
...      ...          ...
3665 2022-03           15
3666 2022-03            0
3667 2022-03            2
3668 2022-03           20
3669 2022-03            2
3670 2022-03            1
3671 2022-03            0
3672 2022-03            0
3673 2022-03            0
3674 2022-03            2
3675 2022-03            2
3676 2022-03            0
3677 2022-03            0
3678 2022-03            4
3679 2022-03            0
3680 2022-03            1
3681 2022-03            0
3682 2022-03            1
3683 2022-03           10
3684 2022-03            0
3685 2022-03            5
3686 2022-03            2
3687 2022-03            4
3688 2022-03           13
3689 2022-03            3
3690 2022-03            0
3691 2022-03            0
3692 2022-03            0
3693 2022-03            0
3694 2022-03            0

[3695 rows x 2 columns]